// Main Variables
// Color
$main-bg: #f3f3f3;
$content-bg: #fff;
$gray-bg: #cacaca;
$ashes-bg: #eaeaea;
$main-text-color: #222;
$invert-text-color: #fff;
$accent-text-color: #858585;
$main-link: #178cbd;
$important: #c00;
// Margins
$baseMargin: 3vh;
$blockMargin: 2vh;
$slimMargin: 10px;
// Typography
$default-font: "Arimo", sans-serif;
$headers-font: "Lora", serif;
$serif-font: "Lora", serif;

