// Main Variables
// Color
$main-bg: #f3f3f3;
$content-bg: #fff;
$main-text-color: #222;
$invert-text-color: #fff;
$badge: #189fd5;
$main-link: #007bff;
$important: #c00;
// Margins
$baseMargin: 3vh;
$blockMargin: 2vh;
$slimMargin: 10px;
// Typography
$default-font: "Arimo", sans-serif;
$headers-font: "Lora", serif;
$serif-font: "Lora", serif;

