// Main Variables
// Color
$main-bg: #f3f3f3;
$content-bg: #fff;
$gray-bg: #cacaca;
$ashes-bg: #eaeaea;
$main-text-color: #212121;
$invert-text-color: #fff;
$accent-text-color: #858585;

$dark-primary-color: #303F9F;
$light-primary-color: #C5CAE9;
$primary-color: #3F51B5;
$accent-color: #8BC34A;
$secondary-text-color: #757575;
$divider-color: #BDBDBD;

$main-link: #178cbd;
$important: #c00;
// Margins
$baseMargin: 3vh;
$blockMargin: 2vh;
$slimMargin: 10px;
// Typography
$default-font: "Arimo", sans-serif;
$headers-font: "Lora", serif;
$serif-font: "Lora", serif;

